<%- include('../partials/header') %>
<form 
    action="/flights/<%= flight._id %>/tickets"
    method="POST"
>
    <label for="seat-select">Seat:</label>
    <input name="seat" required placeholder="A1-F99 " pattern="[A-F][1-9]\d?">
    <label for="price-input">Price:</label>
    <input type="text" name="price" placeholder="$0" required>
    <button type="submit">Add Ticket</button>
</form>
<%- include('../partials/footer') %>